// main SASS file

/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/

@import 'variables';
@import 'queries';
@import 'mixins';
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:after,
*:before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	font-size: 16px;
	font-family: $htmlFont;
	/* default for whole page */
	line-height: 1.6;
}

h1,
h2,
h3,
h4 {
	font-family: $hFont;
	/* serif for the headings */
}

ul {
	list-style: none;
}


/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
	display: table;
	clear: both;
	content: "";
}


/***********************************************
                LAYOUT
***********************************************/

.bg-header {
	background-color: $white;
	background-color: $lightBlue;
	color: $darkGrey;
	border-bottom: 1rem solid $medBlue;
	border-top: 1rem solid $darkBlue;
	position: relative;
	&:before,
	&:after {
		content: "";
		position: absolute;
		bottom: -1rem;
		width: 30%;
		height: 1rem;
		background-color: $darkBlue;
	}
	&:before {
		left: 0;
	}
	&:after {
		right: 0;
	}
}

.bg-focal {
	@include bgColour($lightBrown, $darkBrown);
}

.bg-content1 {
	@include bgColour($white, $darkGrey);
}

.bg-content2 {
	@include bgColour($lightBlue, $darkBlue);
}

.bg-footer {
	@include bgColour($white, $lightGrey);
}

header {
	width: 400px;
	/* default */
	margin: 0 auto;
	position: relative;
	@include phone {
		width: 700px;
		margin: 0 auto;
		min-height: 8rem;
	}
	@include tablet {
		width: 900px;
		margin: 0 auto;
	}
	@include laptop {
		width: 1400px;
		margin: 0 auto;
	}
	h1 {
		width: 100%;
		padding: 0 2rem;
		color: $darkBrown;
		letter-spacing: 0.1rem;
		@include phone {
			width: 100%;
			color: $darkBrown;
		}
		@include tablet {
			width: 100%;
			color: $darkBlue;
		}
		@include laptop {
			width: 100%;
			color: $darkBrown;
		}
		i.fa-lg {
			display: block;
			width: 25%;
			float: left;
			font-size: 7rem;
			line-height: 12.7936rem;
			color: $lightBrown;
			@include phone {
				display: inline;
				color: $darkBrown;
				vertical-align: baseline;
				float: none;
				font-size: 4rem;
				line-height: 6.3968rem;
			}
			@include tablet {
				display: inline;
				color: $darkBlue;
				vertical-align: baseline;
				float: none;
				font-size: 4rem;
				line-height: 6.3968rem;
			}
			@include laptop {
				display: inline;
				color: $darkBrown;
				vertical-align: baseline;
				float: none;
				font-size: 4rem;
				line-height: 6.3968rem;
			}
		}
		i.fa-lg ~ span {
			float: right;
			width: 75%;
			font-size: 3.998rem;
			/**
    2 lines of 3.998 * 1.6 = 12.7936
    **/
			padding-left: 1rem;
			text-align: right;
			@include phone {
				float: none;
				letter-spacing: 0.25rem;
				font-size: 3.998rem;
				/**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
				text-align: left;
			}
			@include tablet {
				float: none;
				letter-spacing: 0.25rem;
				font-size: 3.998rem;
				/**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
				text-align: left;
			}
			@include laptop {
				float: none;
				letter-spacing: 0.25rem;
				font-size: 3.998rem;
				/**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
				text-align: left;
			}
		}
	}
	nav {
		width: 100%;
		@include phone {
			position: static;
			clear: both;
			width: 100%;
			padding: 0;
		}
		@include tablet {
			position: static;
			clear: both;
			width: 100%;
			padding: 0;
		}
		@include laptop {
			position: static;
			clear: both;
			width: 100%;
			padding: 0;
		}
	}
	nav>ul li {
		width: 100%;
		float: none;
	}
	nav>ul>li {
		@include phone {
			width: 20%;
			float: left;
		}
		@include tablet {
			width: 20%;
			float: left;
			background-color: $white;
		}
		@include laptop {
			width: 20%;
			float: left;
			background-color: $white;
		}
	}
}

section {
	.focal {
		width: 400px;
		/* default */
		margin: 0 auto;
		h2 {
			@include tablet {
				width: 600px;
				margin: 0 auto;
			}
			@include laptop {
				font-size: 3.998rem;
				width: 600px;
				margin: 0 auto;
			}
		}
		p.author {
			@include tablet {
				width: 600px;
				margin: 0 auto;
			}
			@include laptop {
				width: 600px;
				margin: 0 auto;
			}
		}
	}
	.content1 {
		padding: 2rem 0;
		@include tablet {
			h3 {
				font-size: 1.999rem;
				font-weight: 100;
				.fa-2x {
					font-size: 1.999rem;
					padding-right: 1rem;
				}
			}
		}
		@include laptop {
			h3 {
				font-size: 2.827rem;
				font-weight: 100;
				.fa-2x {
					font-size: 2.827rem;
					padding-right: 1rem;
					vertical-align: middle;
				}
			}
		}
	}
	.content2 {
		padding: 2rem 0;
		@include phone {
			h4 {
				font-size: 1.414rem;
			}
			li {
				font-size: 1.414rem;
			}
		}
		@include tablet {
			h4 {
				font-size: 1.414rem;
			}
			li {
				font-size: 1.414rem;
			}
			p {
				font-size: 1rem;
				font-weight: 400;
			}
		}
		@include laptop {
			h4 {
				font-size: 1.999rem;
			}
			li {
				font-size: 1.999rem;
			}
			p {
				font-size: 1.414rem;
				font-weight: 400;
			}
		}
	}
	.focal,
	.content1,
	.content2,
	footer {
		@include phone {
			width: 700px;
			margin: 0 auto;
		}
		@include tablet {
			width: 700px;
			margin: 0 auto;
		}
		@include laptop {
			width: 1400px;
			margin: 0 auto;
		}
	}
}

.row {
	clear: both;
}

.col-2 {
	width: 50%;
	float: left;
	padding-bottom: 2rem;
	border-left: 1px solid $darkBlue;
	margin-bottom: 2rem;
}

footer {
	padding: 2rem 0;
	.col-2:first-child {
		border-left: 0;
	}
	p:last-child {}
}


/***********************************************
                NAVIGATION
***********************************************/

header nav {
	padding: 2rem 0;
	clear: both;
	>ul>li>a {
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 1.414rem;
		letter-spacing: 0.25rem;
		border: 1px solid $lightGrey;
		border-bottom: none;
		padding: 1.0rem 2rem;
		line-height: 1;
		@include bgColour($white, $darkGrey);
		@include phone {
			@include HeaderQueries(1rem, 6rem);
		}
		@include tablet {
			@include HeaderQueries(1rem, 6rem);
		}
		@include laptop {
			@include HeaderQueries(1.414rem, 2rem);
			padding: 0 1.0rem;
			margin: 1.0rem 0;
		}
		&:hover {
			font-weight: 700;
			color: $darkBrown;
		}
		&:last-child {
			@include phone {
				border-right: 1px solid $lightGrey;
			}
			@include tablet {
				border-right: 1px solid $lightGrey;
			}
			@include laptop {
				border-left: none;
			}
		}
	}
}


/***********************************************
                CONTENT
***********************************************/

.focal {
	h2 {
		font-size: 1.999rem;
		line-height: 1.2;
		padding: 2rem 2rem 1rem 2rem;
	}
	.author {
		font-size: 1rem;
		padding: 0.2rem 2rem 2rem;
	}
}

.content1 {
	h3 {
		font-size: 1.999rem;
		padding: 0.2rem 2rem 2rem;
		i {
			vertical-align: middle;
			padding-right: 2rem;
		}
	}
	p {
		font-size: 1.414rem;
		padding: 0.5rem 2rem 2rem;
	}
}

.content2 {
	h3 {
		font-size: 1.999rem;
		padding: 1rem 2rem 0.5rem;
	}
	h4 {
		font-size: 1.999rem;
		padding: 1rem 2rem 0rem;
	}
	p {
		font-size: 1.414rem;
		padding: 0.5rem 2rem 1rem;
	}
	li {
		font-size: 1.414rem;
		padding: 0.5rem 2rem;

	}
}


/***********************************************
                FOOTER
***********************************************/

footer {
	h4 {
		font-size: 1.414rem;
		padding: 0.5rem 2rem;
		color: $darkBrown;
	}
	p {
		font-size: 1rem;
		padding: 0.5rem 2rem;
		color: $darkGrey;
		@include laptop {
			font-size: 1.414rem;
			letter-spacing: 0.2rem;
			&:last-child {
				color: $lightGrey;
			}
		}
	}
	.fa-circle {
		color: darkGrey;
		@include phone {
			color: $medBlue;
		}
		@include tablet {
			color: $lightBrown;
		}
		@include laptop {
			color: $medBlue;
		}
	}
	h4[lang=de] {
		display: block;
	}
	h4[lang=en],
	h4[lang=ar],
	h4[lang=ru] {
		display: none;
	}
	@include phone {
		.col-2:last-child {
			unicode-bidi: bidi-override;
			direction: rtl;
		}
		h4[lang=ar] {
			display: block;
		}
		h4[lang=de],
		h4[lang=en],
		h4[lang=ru] {
			display: none;
		}
	}
	@include tablet {
		h4[lang=ru] {
			display: block;
		}
		h4[lang=de],
		h4[lang=ar],
		h4[lang=en] {
			display: none;
		}
	}
	@include laptop {
		h4[lang=en] {
			display: block;
		}
		h4[lang=de],
		h4[lang=ar],
		h4[lang=ru] {
			display: none;
		}
	}
}


/***********************************************
                MEDIA QUERIES
***********************************************/

header:before,
header:after {
	@include phone {
		width: 230px;
	}
	@include tablet {
		width: 300px;
	}
	@include laptop {
		width: 450px;
	}
}

.col-3 {
	@include tablet {
		@include col(left, 30%, 5%);
		&:first-child {
			margin-left: 0;
		}
	}
	@include laptop {
		@include col(left, 30%, 5%);
		&:first-child {
			margin-left: 0;
		}
	}
}

.col-4 {
	@include phone {
		width: 50%;
		float: left;
	}
	@include tablet {
		@include col(left, 22%, 4%);
		&:first-child {
			margin-left: 0;
		}
	}
	@include laptop {
		@include col(left, 22%, 4%);
		&:first-child {
			margin-left: 0;
		}
	}
}
